body{font-family:open sans}.custom-card-top{margin-top:50px}.custom-card-abs{width:inherit;text-align:center;position:absolute;margin-left:50%;margin-right:auto}.custom-col-reset{padding:10px}.custom-card{border:2px solid #f4f5f9;padding:0px;margin:0px}.custom-card-in{padding:10px;background:#fefefe}.custom-center{margin-left:auto;margin-right:auto}.custom-white{color:#fff}.card-simple-price.red-bg{background:#f00}.card-simple-price.blue-bg{background:blue}.custom-star-color{color:#f2ca0a}p>a{color:#ff0066}
/*# sourceMappingURL=cavve.css.map */

/* styel for table in jobbers
* set the minimun padding for the tr to 100px
*
*/
.jobbers-table table tbody tr td{
	padding: 20px 0 20px 0;
}

.cover-table{
	min-height: 300px;
	width: auto;
	min-width: 100%;
}
.job_tbody{
	border-width: 1px;
	border-color: #fcfcfc;
	border-style: solid;
	border-top: none;
	min-height: 100px;
}
.cover-table table > tbody{
	background-color:  transparent;
}
.cover-table table tbody tr:hover{
	border-left: solid 1px #f0ad4e;
	border-bottom: solid 1px #f0ad4e;
	border-bottom-left-radius: 50px;
	border-top: none;
	opacity: 0.8;
	zoom: 1.1;
	background-color: #f9f9f9;
}
.cover-table table thead{
	width: 99%; border-top-left-radius: 10px; border-top-right-radius: 10px;
}
.jobHead{
	margin-top: -9px;
}
.table > thead	 > tr > td{
	border-radius: 20px;
}
.table > tbody > tr{
	background-color: white;
	border-bottom: solid 10px #f6f6f6;
}
.table > tbody > tr > td > h2{
	text-transform: capitalize;
}
#disable{
	opacity: 0.4;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

#enable{
	opacity: 1;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}