@import "import/color.scss";
@import "import/font.scss";

body{
	font-family : open sans;
}
.custom-card-top {
	margin-top:50px;
}
.custom-card-abs {
	width:inherit;
	text-align:center;
	position:absolute;
	margin-left:50%;
	margin-right:auto;
}
.custom-col-reset {
	padding:10px;
}
.custom-card {
	border:2px solid $border-color;
	padding:0px;
	margin:0px;
}
.custom-card-in {
	padding:10px;
	background:#fefefe;
}
.custom-center {
	margin-left:auto;
	margin-right:auto;
}
.custom-white {
	color:#fff;
}
.card-simple-price {
	&.red-bg {
 		background: #f00;
	}
	&.blue-bg {
		background: blue;
	}
}
.custom-star-color {
	
	color:#f2ca0a;	
}
p > a {
	color:#ff0066;
}